$headingFont: 'Arvo', serif;

$bodyFont: 'nunito', sans-serif; 

h1, h2,h3, h4, h5, h6{
    margin:0;
    font-family: $headingFont;
    color: $brandText
}

p, li, a, address, caption{
    margin:0;
    font-family: $bodyFont; 
    color: $white;
    font-weight: 200;
}

h1{
    font-size: 48px;
}

.green{
    color:$green;;
}

.yellow{
    color: $yellow;;
}