.nav{
    li{
        transition: 0.5s;
        :hover {
color:$yellow;
// transition: 0.5s;
                transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
            .nav__letter{
                // color:blue;
                transform: rotate(-90deg);
                display: inline-block;
                transition: 0.5s;
                transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
            }
        }
        a{
            font-family: $headingFont;
        }
    }
    .active{
        color: $green;
    }
}

.work{
    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:12px;
    }
    img{
        width: 100%;
    }
}