.site-wrapper {
  width: 100%;
  // height:100%;
  background-color: $background;
  position: absolute;
}
.main {
  height: 100%;
  // width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: fixed;
  top: 0;
  nav {
    transform: rotate(90deg);
  }
  ul {
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    li {
      font-size: 28px;
      line-height: 48px;
      font-family: $headingFont;
    }
  }
}
section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  > *{
      margin-bottom:24px;
      text-align: center;
  }
}
.content {
  padding: 32px;
  float: right;
  width: 50vw;
  box-sizing: border-box;
}
.about{
    img{
        height: 120px;
        width: 120px;
        margin-left: auto;
        margin-right: auto;
    }
}
